.first-Q {
    margin:  20px;
}
.second-Q{
    margin:  20px;

}
@media screen and(max-width:1100px){
    .first-Q {
        width:80%;
        padding:50px;
    }
    .second-Q{
        width:80%;
        padding:50px;
    }
}